body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u7880 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u7881 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u7882 {
  position:absolute;
  left:425px;
  top:96px;
  width:374px;
  height:22px;
}
#u7883 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7884 {
  position:absolute;
  left:426px;
  top:165px;
  width:374px;
  height:590px;
}
#u7885 {
  position:absolute;
  left:2px;
  top:287px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7886 {
  position:absolute;
  left:439px;
  top:236px;
  width:349px;
  height:1px;
}
#u7886_img.selected {
}
#u7886.selected {
}
#u7887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7888 {
  position:absolute;
  left:439px;
  top:286px;
  width:349px;
  height:1px;
}
#u7888_img.selected {
}
#u7888.selected {
}
#u7889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7890 {
  position:absolute;
  left:439px;
  top:360px;
  width:349px;
  height:40px;
  font-size:16px;
}
#u7891 {
  position:absolute;
  left:2px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7892 {
  position:absolute;
  left:675px;
  top:191px;
  width:113px;
  height:40px;
}
#u7893 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u7894 {
  position:absolute;
  left:439px;
  top:196px;
  width:226px;
  height:30px;
}
#u7894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7895 {
  position:absolute;
  left:439px;
  top:247px;
  width:226px;
  height:30px;
}
#u7895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7896 {
  position:absolute;
  left:439px;
  top:338px;
  width:349px;
  height:1px;
}
#u7896_img.selected {
}
#u7896.selected {
}
#u7897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898 {
  position:absolute;
  left:439px;
  top:299px;
  width:226px;
  height:30px;
}
#u7898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7899 {
  position:absolute;
  left:439px;
  top:410px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7901 {
  position:absolute;
  left:501px;
  top:727px;
  width:225px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7902 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u7903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7903 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:48px;
}
#u7904 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7905 {
  position:absolute;
  left:598px;
  top:130px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7906 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7907 {
  position:absolute;
  left:441px;
  top:130px;
  width:15px;
  height:25px;
}
#u7908 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u7909 {
  position:absolute;
  left:886px;
  top:174px;
  width:420px;
  height:152px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u7910 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7911 {
  position:absolute;
  left:859px;
  top:174px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u7912 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u7913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7913 {
  position:absolute;
  left:886px;
  top:360px;
  width:300px;
  height:146px;
}
#u7914 {
  position:absolute;
  left:2px;
  top:65px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7915 {
  position:absolute;
  left:940px;
  top:401px;
  width:193px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7916 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7917 {
  position:absolute;
  left:886px;
  top:456px;
  width:150px;
  height:50px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u7919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCB4C;
}
#u7919 {
  position:absolute;
  left:1035px;
  top:456px;
  width:151px;
  height:50px;
  color:#FFCB4C;
}
#u7920 {
  position:absolute;
  left:2px;
  top:17px;
  width:147px;
  word-wrap:break-word;
}
